<!--
<html>
  <head>
    <title>S'enregistrer</title>
  </head>
  <body>
    <h1>S'enregistrer</h1>
    <br>
    <form method="post">
    <p>Username :</p>
    <input type="text" name="username">
    <br>
    <p>Email :</p>
    <input type="email" name="email">
    <br>
    <p>Ta biographie</p>
    <input type="textarea" name="bio">
    </form>
  </body>
</html>
-->
<html>
  <body>
    <h1>S'enregistrer</h1>

    <%= form_tag url_for('new'), method: "post" do %>
    <%= label_tag 'Username' %>
    <%= text_field_tag :user %>
    <br>
    <%= label_tag 'Email' %>
    <%= text_field_tag :email %>
    <br>
    <%= label_tag 'Bio' %>
    <%= text_area_tag :bio %>
    <br>
    <%= submit_tag "S'enregistrer" %>

    <% end %>
  </body>
</html>
